<div id="update-family-member-component">
    <h1 mat-dialog-title>Update Family Member</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button >Cancel</button>
  <button mat-button color="primary" cdkFocusInitial>Submit</button>
</div>
</div>